@use './variables' as *;

.base_page {
  &_wrapper {
    padding: 40px clamp(20px, calc(1.25rem + ((1vw - 7px) * 40.7407)), 152px);
    width: 100%;
  }

  &_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: $color-text-primary;
  }
}

.form_field {
  width: 100%;
  height: 100%;
  max-height: 48px;
  background-color: inherit;
  border: 1px solid $color-border-light;
  border-radius: 4px;
  padding: 16px 20px;
  color: $color-text-primary;
  font-size: 14px;
  transition:
    background-color $transition-duration-medium ease,
    border-color $transition-duration-medium ease;

  &::placeholder {
    color: $color-text-primary-2;
  }

  &:disabled {
    color: $color-text-primary-2;
    background-color: $color-bg-secondary;
    border: 1px solid $color-bg-secondary;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    border-color: $color-border-accent;

    &:disabled {
      border-color: $color-bg-secondary;
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &__error {
    &:hover,
    &:focus,
    &:focus-visible {
      border-color: $error-color;
    }
    border-color: $error-color;
  }
}

.base_link {
  color: $color-text-accent;
  text-align: center;
  transition: color $transition-duration-extra-small;

  &:hover {
    color: $color-action-blue;
  }
}

.form_field_base {
  height: 48px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 540px;

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: $color-text-primary;
    text-align: center;
    flex-grow: 0;
    margin-bottom: 42px;
  }

  &__form {
    flex-grow: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: scroll;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.content .form__error {
  gap: 5px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.loader {
  border-radius: 50%;
  border: 6px solid $loader-color;
  border-right-color: $loader-color-2;
  aspect-ratio: 1 / 1;
  animation: loader-animation 0.83s cubic-bezier(0.4, 0.2, 0.3, 0.8) infinite;
}

.loader_v2 {
  border-radius: 50%;
  border: 6px solid $loader-color;
  border-right-color: $loader-color-2;
  aspect-ratio: 1 / 1;
  animation: loader-animation 0.83s cubic-bezier(0.6, 0, 0.8, 0.7) infinite alternate;
}

.loader_bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 400% 400%;
  animation: loader-bg-animation 1.5s cubic-bezier(0.4, 0.2, 0.3, 0.8) infinite alternate;
}

/* Ширина скроллбара */
.scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Дорожка */
.scroll::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 4px;
}

/* Ползунок */
.scroll::-webkit-scrollbar-thumb {
  background: $scroll-color;
  border-radius: 4px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

.status {
  &_completed {
    color: $status-completed-color;
    text-shadow: 0 0 2px rgb(0, 0, 0, 0.2);
  }

  &_processed {
    color: $status-processed-color;
    text-shadow: 0 0 2px rgb(0, 0, 0, 0.2);
  }

  &_sent {
    color: $status-sent-color;
    text-shadow: 0 0 2px rgb(0, 0, 0, 0.2);
  }

  &_paid {
    color: $status-paid-color;
    text-shadow: 0 0 2px rgb(0, 0, 0, 0.2);
  }

  &_not_paid {
    color: $status-not-paid-color;
    text-shadow: 0 0 2px rgb(0, 0, 0, 0.2);
  }
}

.status__block {
  &_completed {
    background-color: $status-completed-color;
  }

  &_processed {
    background-color: $status-processed-color;
  }

  &_sent {
    background-color: $status-sent-color;
  }

  &_other {
    background-color: $color-bg-secondary;
  }
}

@keyframes loader-bg-animation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes loader-animation {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
